#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title {
  color: #0000FF ;
}
h3 {
  color: #000;
  font-weight: lighter;
}
h3 span {
  background-color: #0000FF;
  color: #fff;
  padding: .8rem;
  border-radius: 1.2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
h3 span:hover {
background-color: #fff;
color: #0000FF;
border: 1px solid #0000FF;
}
.container {
  width: 100vh;
  height: 20vh;
  background: #fff;
  border-radius: 1.5rem;
  margin-top: 3rem;
  padding: 2rem;
  box-shadow: 4px 6px 13px 10px rgba(129, 66, 247, 0.17);
  display: grid;
  grid-template-rows: 1.5rem 1.5rem ;
  gap: 3rem;
}
.container div:first-child {
  display: flex;
  flex-direction: row;
}
.container div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
.container div:last-child {
  display: flex;
  flex-direction: row;
}
.text-field {
  width: 100%;
  height: 10px ;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  outline: rgba(61, 60, 63, 0.76);
  border-radius: 0.5rem;
  color: rgba(37, 36, 36, 0.7);
  font-size: 1rem;
  background: #fff;
  border: 2px solid rgba(61, 60, 63, 0.322);
  margin-right: 20px;
  font-weight: 700;
}

.btn {
  width: 100%;
  height: 3rem;
  margin-top: 10px;
  border-radius: 1rem;
  background-color: #0000FF;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover{
  background-color: #060699;
}

h2{
color: #0000FF;
text-align: left;
margin-top: 3rem;
}

.my-contact {
  width: 100vh;
  padding: 1.5rem;
  border: 2px solid rgba(61, 60, 63, 0.322);
  border-radius: 1.3rem;
 
}
.contact__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgba(131, 130, 133, 0.4) ;
  border-radius: 1rem;
  padding: 1rem .5rem 1rem .1rem ;
  margin-top: 1.1rem;
}
.contact__list .name {
  margin-left: 20px;
}
.contact__list h3 {
  margin-right: -2rem;
}
.contact__list .email{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__list .email span {
  margin-right: 10px;
}
.contact__list .phone-num {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__list .phone-num span {
  margin-right: 10px;
}
.icon{
  width: 2rem;
  height: 2rem;
  cursor: pointer;

}
.icon.blue {
  color: rgba(18, 18, 19, 0.623) ;
}

.icon .bigger {
  width: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
}

.name-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}